<!DOCTYPE html>
<html lang="en">
<body>

    <h1>CloudCustodian</h1>
    <h3>Policy: {{ policy }} </h3>
    <br />
    <br />

    {{ recipient }},

      At {{ execution_start }}, the following {{ account }} resources were identified in this policy and {{ action }} in {{ region }}.
    <br />
    <br />
    {{ resources }}
    <br />
    <br />
</body>
</html>